@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: #f4ebe1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0, 0, 0;
    --background: #f4ebe1;
  }
}

body {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
